<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detectives on Foot</title>
    <link rel="stylesheet" href="/frontend/css/index.css">
</head>
<body>
    <div id="page-content">
        <h1 id="page-header">Detectives On Foot</h1>

        <button type="button" id="host" class="page-buttons" onclick="window.location.href='/host'">Host Game</button>
        <button type="button" id="join" class="page-buttons" onclick="window.location.href='/join'">Join Game</button>
    </div>
</body>
</html>