<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game - Detectives On Foot</title>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
</head>
<body>
    
    <script>
        const socket = io("http://localhost:5000")

        socket.on("connection", () => {
            console.log("Connected to server")
        })
    </script>

</body>
</html>